<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Link2List</title>


    <!--jquery-->
    <script src="./js/jquery-3.1.1.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>

    <!-- Custom styles for this template -->
    <link href="./css/styles.css" rel="stylesheet">
    <link href="./css/taskman.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

</head>
<body ng-app="myApp" ng-controller="cntrl">

<div ng-repeat="user in data">
    <h1>{{user.email}}</h1>
</div>


<input type="text" ng-model="email">
<input type="password" ng-model="password">

<input type="button" value="button" ng-click="insert(email,password)">


</body>
</html>

